box-bg($size)
  background-image:url('~@/assets/img/box_'+$size+'.jpg')
  background-repeat: no-repeat
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
btn-style()
  text-align:center
  color:white
  display:inline-block
  background:url('~@/assets/img/button/an.png')
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  border:none;
match-confirm-btn-style()
  text-align:center
  color:white
  display:inline-block
  background:url('~@/assets/img/button/list_btn.png')
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  border:none;
  border-radius:0
match-cancel-btn-style()
  text-align:center
  color:white
  display:inline-block
  background:url('~@/assets/img/button/disabled_list_btn.png')
  -webkit-background-size: 100% 100%
  background-size: 100% 100%
  border:none;
  border-radius:0
btn-lg()
  width:220px
  height:46px
  line-height:46px
  cursor:pointer;
btn-md()
  width:153px
  height:40px
  line-height:40px
btn-sm()
  width:110px
  height:28px
  line-height:28px
  cursor:pointer;
match-confirmbtn-lg()
  btn-lg()
  match-confirm-btn-style()
match-confirmbtn-md()
  btn-md()
  match-confirm-btn-style()
match-confirmbtn-sm()
  btn-sm()
  match-confirm-btn-style()
match-cancelbtn-lg()
  btn-lg()
  match-cancel-btn-style()
match-cancelbtn-md()
  btn-md()
  match-cancel-btn-style()
match-cancelbtn-sm()
  btn-sm()
  match-cancel-btn-style()
confirm-btn-lg()
  btn-lg()
  btn-style()
confirm-btn-md()
  btn-md()
  btn-style()
confirm-btn-sm()
  btn-sm()
  btn-style()
edge-angle()
  background:url('~@/assets/img/bian.png') left top no-repeat,url('~@/assets/img/bian2.png') right top no-repeat,url('~@/assets/img/bian3.png') left bottom no-repeat,url('~@/assets/img/bian4.png') right bottom no-repeat
set_bg($name)
  background:url('~@/assets/img/'+$name)no-repeat;
  background-size:100% 100%;
card_style()
  background-color: #0d1927;
  border: 1px solid #152E4A;
lightblue = #0080ff
panelBg = #181c35
fontSkyblue = #7dabdf
darkblue = #08325a
darkblue2 = #4d789b;
borderColor = #08325a
inputBorderColor = #053b69
placeholderColor = #2e4c68
contentColor = #d1d3d6
inputContentColor = #0d223d
//表格样式
tableBorer = #053a66
tableBg = #0d1927
tableHover = #396494;
tableScore = #026bd4;

//答题样式
tabHintColot = #0080ff;
subHover= #111e2e;
titleColor = #0080ff;
scoreColor = #ffc600 ;
scoreTitleColor = #b1cae9 ;
wrapSolvedborder = #0080ff;
wrapSolvedShaow = #0080ff;
successcolor = #1affd1;
subCardBorder= #053a66;
acolor= #39afff;
senceBg=#18283b;
progressBg=#053a66
progressContentBg=#0080ff;
delBtn=#ff0000;
newHintborder=#15cf98;
//字体颜色和大小
fontColor-f = #fff;
fontColor-r = red;
fs32 =32px;
fs20 =20px
//常用粉红色
color-fen = #ff403e;
//常用黄色
color-yellow = #f3d707;


.highlightBlue
  color:lightblue!important;
